input[type=text], textarea {
  -webkit-box-shadow: 0 0 8px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 0 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0 0 8px -1px rgba(34, 60, 80, 0.2);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

input[type=text]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 5px -1px rgba(34, 60, 80, 0.46);
  -moz-box-shadow: 0 0 5px -1px rgba(34, 60, 80, 0.46);
  box-shadow: 0 0 5px -1px rgba(34, 60, 80, 0.46);
  outline: none;
}

input[type=password], textarea {
  -webkit-box-shadow: 0 0 8px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 0 8px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0 0 8px -1px rgba(34, 60, 80, 0.2);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 5px -1px rgba(34, 60, 80, 0.46);
  -moz-box-shadow: 0 0 5px -1px rgba(34, 60, 80, 0.46);
  box-shadow: 0 0 5px -1px rgba(34, 60, 80, 0.46);
  outline: none;
}











/* Checkbox */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  /*margin-bottom: 12px;*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-color: #00a591;
  border-width: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #f1f1f1;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #00A591;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 9px;
  height: 15px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
