<div class="flex flex-col min-h-screen">
  <header>

    <div class="flex flex-row bg-white">


      <div class="flex justify-center basis-1/4 text-center">
        <div class="flex justify-center min-w-185my max-w-200my">
          <a class="text-logo text-green-dark-sea-wave-my font-bold" routerLink="/">SakhBord</a>
        </div>
      </div>


      <div class="flex basis-1/2 justify-center items-center">
        <p class="font-bold">Регистрация</p>

      </div>




      <div class="flex basis-1/4 justify-end items-center">


        <div (click)="goToPageLogin()" class="flex hover:bg-hoverButtonMy cursor-pointer text-20my text-black w-240my h-60my align-middle justify-center items-center">
          Войти
        </div>


      </div>


    </div>


  </header>






  <main class="flex-1">


    <div class="flex grid grid-rows-1 align-middle justify-center pt-5">
      <div class="flex max-w-1010my mb-[0.625rem] shadow-md rounded-lg bg-white pl-3 pr-3 pt-3 pb-3 grid grid-rows-1">











        <div class="w-300my">







          <div *ngIf="submitForm; else submitFormFalse">


            <form [formGroup]="loginForm" (submit)="submit()" class="p-4">


              <div class="my-5 w-full">
                <label for="email1">Email адрес</label>
                <br>
                <input type="text" (ngModelChange)="changeFieldMail()" minlength="8" maxlength="45" formControlName="email1" id="email1" class="text-black text-[28px] p-2 rounded w-full text-sm outline-0" placeholder="Email адрес" required>
                <div class="w-[100%] h-25my">
                  <div *ngIf="email1.errors?.['minLength']"> Минимальная длина 8 </div>
                  <div *ngIf="email1.errors?.['maxLength']"> Максимальная длина 58 </div>
                  <div *ngIf="email1.errors?.['pattern']"> Некорректный Email </div>
                </div>
              </div>

              <div class="my-5 w-full">
                <label for="email2">Повторить Email адрес</label>
                <br>
                <input type="text" (ngModelChange)="changeFieldMail()" minlength="8" maxlength="45" formControlName="email2" id="email2" class="text-black text-[28px] p-2 rounded w-full text-sm outline-0" placeholder="Повторить Email адрес" required>
                <div class="w-[100%] h-25my">
                  <div *ngIf="email2.errors?.['minLength']"> Минимальная длина 8 </div>
                  <div *ngIf="email2.errors?.['maxLength']"> Максимальная длина 58 </div>
                  <div *ngIf="email2.errors?.['pattern']"> Некорректный Email </div>
                  <div *ngIf="loginForm.hasError('noMatchMail')">Email не совпадает</div>
                </div>
              </div>


              <div class="my-5 w-full">
                <label for="password1">Пароль</label>
                <input type="password" (ngModelChange)="changeFieldPass()" minlength="6" maxlength="24" formControlName="password1" id="password1" class="text-[28px] p-2 rounded w-full text-sm outline-0" placeholder="Пароль" required>
                <div class="w-[100%] h-25my">
                  <div *ngIf="password1.errors?.['minlength']"> Минимальная длина 6 </div>
                  <div *ngIf="password1.errors?.['maxlength']"> Максимальная длина 24 </div>
                  <div *ngIf="password1.errors?.['pattern']"> Некорректный пароль </div>
                </div>
              </div>

              <div class="my-5 w-full">
                <label for="password2">Повторить пароль</label>
                <input type="password" (ngModelChange)="changeFieldPass()" minlength="6" maxlength="24" formControlName="password2" id="password2" class="text-[28px] p-2 rounded w-full text-sm outline-0" placeholder="Повторить пароль" required>
                <div class="w-[100%] h-25my">
                  <div *ngIf="password2.errors?.['minlength']"> Минимальная длина 6 </div>
                  <div *ngIf="password2.errors?.['maxlength']"> Максимальная длина 24 </div>
                  <div *ngIf="password2.errors?.['pattern']"> Некорректный пароль </div>
                  <div *ngIf="loginForm.hasError('noMatchPass')">Пароли не совпадают</div>
                </div>



                <div class="flex justify-between">
                  <div class="order-last">
                    <label class="container">
                      <input type="checkbox" formControlName="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div>
                    <a routerLink="/rules" target="_blank">Я согласен с правилами -></a>
                  </div>

                </div>



              </div>

              <div class="my-5 w-full">
                <button type="submit" [disabled]="!loginForm.valid" class="p-3 w-full bg-green-dark-sea-wave-my text-white hover:bg-dayColor rounded">
                  Зарегистрироваться
                </button>

                <div class="text-center my-5 w-52" *ngIf="emailExists"> Пользователь с таким адресом электронной почты уже существует </div>

              </div>

            </form>



          </div>


          <ng-template #submitFormFalse>

            <div *ngIf="responseServer; else responseServerFalse">
              <p>Пытаемся зарегистрироваться. Ждём ответа от сервера</p>
            </div>


            <ng-template #responseServerFalse>

              <div *ngIf="responseView; else responseViewFalse">

                <div>
                  <p>Вы успешно зарегистрировались. Пожалуйста проверьте вашу почту и следуйте инструкции.</p>
                </div>


              </div>

              <ng-template #responseViewFalse>
                <p>Упс. Что-то пошло не так. Попробуйте позже</p>
              </ng-template>


            </ng-template>


          </ng-template>








        </div>











      </div>

    </div>


  </main>




  <footer class="flex h-auto grid grid-cols-1">

    <div class="grid grid-cols-6 gap-4">

      <div class="col-start-1 col-end-7 h-45my">
        <a href="/contact" class="ml-[1.25rem] text-dayColor">Контакты >>></a>
      </div>

    </div>

  </footer>

</div>
